<!DOCTYPE html>
<html>
  <head>
    <title>AirGoT</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/dcce58ae7c.js" crossorigin="anonymous"></script>
    <script type=text/javascript>
    
      window.backgroundImage = "<%= image_url('background.jpg') %>"
      window.logoImage = "<%= image_url('logo.png') %>"
      window.logoName = "<%= image_url('logo-with-name.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
