<!DOCTYPE html>
<html>
  <head>
    <title>AirGoT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/dcce58ae7c.js" crossorigin="anonymous"></script>
    <script type=text/javascript>
      window.backgroundImage = "<%= image_url('background.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
